<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>matvey</title>
</head>
<body>
<body show-background-image="" style="background-color: rgb(255, 223, 183);">
    <iframe id="backgroundImage" src="chrome-untrusted://new-tab-page/custom_background_image?url=https%3A%2F%2Flh4.googleusercontent.com%2Fproxy%2FUOhQwfclsAK8TnXZqoTkh9szHvYOJ3auDH07hZBZeVaaRWvzGaXpaYl60MfCRuW_S57gvzBw859pj5Xl2pW_GpfG8k2GhE9LUFNKwA%3Dw3840-h2160-p-k-no-nd-mv"></iframe>
    <ntp-app show-background-image_=""></ntp-app>
    <script type="module" src="new_tab_page.js"></script>
    <link rel="stylesheet" href="chrome://resources/css/text_defaults_md.css">
    <link rel="stylesheet" href="chrome://theme/colors.css?sets=ui,chrome">
    <link rel="stylesheet" href="shared_vars.css">


<script type="module" src="./lazy_load.js"></script></body>
</body>
</html>